<br>
<h1>Edit State Details </h1><br>
<%= form_with model: @state do |form| %>
    
    <div style="color:red;">
        <% @state.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
    </div><br>

    <div>
        <%= form.label :state_name, "Enter Your State Name :- " %>
        <%= form.text_field :state_name %><br>
    </div><br>

    <div>   
        <%= form.submit %>
    </div>

<% end %>
