<br>
<h1> New City </h1>
<br>
<%= form_with model: @city do |form| %>
    
    <div style="color:red;">
        <% @city.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
    </div><br>
    
    <div>
        <%= form.label :state_id, "Select Your State :- " %>
        <%= form.collection_select :state_id, State.order(:id), :id, :name %>
    </div><br>
    
    <div>
        <%= form.label :name, "Enter Your City Name :- " %>
        <%= form.text_field :name %>
    </div><br><br>

    <div>   
        <%= form.submit %>
    </div>

<% end %>